<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">
    
    <servlet>
        <servlet-name>SkillsServlet</servlet-name>
        <servlet-class>SkillsServlet</servlet-class>
    </servlet>

    
    <servlet>
        <servlet-name>AboutMeServlet</servlet-name>
        <servlet-class>AboutMeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>ContactServlet</servlet-class>
    </servlet>
</web-app>
